<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.device.mapper.UserMapper">
    <resultMap type="User" id="UserResult">
        <result property="id" column="id"/>
        <result property="deptName" column="dept_name"/>
        <result property="deptType" column="dept_type"/>
        <result property="username" column="username"/>
    </resultMap>

    <select id="selectUserByUsername" resultMap="UserResult">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <select id="selectUserByDeptNameAndType" resultType="User">
        SELECT * FROM user
        WHERE dept_name = #{deptName} AND dept_type = #{deptType}
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (dept_name, dept_type, username)
        VALUES (#{deptName}, #{deptType}, #{username})
    </insert>
</mapper>